[Desktop Entry]
Name=Game Mode
Comment=Start Steam in Big Picture Mode via Gamescope
Exec=/usr/bin/gamescope -f -m 1 -e -- /usr/bin/steam -gamepadui
Type=Application
Icon=applications-games
